---
layout: default
---
<a class="github-fork-ribbon right-top" href="http://github.com/AlexisTM" title="See me on Github">See me on Github</a>
<main class="content" role="main">
  <header class="metro-header">
      <h1 class="metro-title">{{ site.title }}</h1>
  </header>

  <center>
  <div class="projects-container">
    <hr />
    <!--
    <h2>Work in progress</h2>
    {% for post in site.posts %}
    {% if post.type == "WIP" %}
      <div class="project">
        <div class="project-header">
          <div class="project-title"> {{post.title}} </div>
        </div>
        
        <div class="project-image">
          {% if post.image != nil %}
          <amp-img width="280px" height="200px" src="{{post.image}}"></amp-img>
          {% else %}
          {{ post.noimage }}
          {% endif %}
        </div>

        <div class="project-description-container">
        <div class="project-description">

          {% if post.linkaddress != nil %}
          <a href="{{post.linkaddress}}"><button class="btn btn-blue project-button-pos">read more</button></a>
          {% else %}
          <a href="{{post.url}}"><button class="btn btn-blue project-button-pos">read more</button></a>
          {% endif %}
        {{post.description}}</div>
        </div>
      </div>{% endif %}{% endfor %}
    <hr />-->
    <h2>Work related</h2>
    {% for post in site.posts %}
    {% if post.type == "work" %}
      <div class="project">
        <div class="project-header">
          <div class="project-title"> {{post.title}} </div>
        </div>
        
        <div class="project-image">
          {% if post.image != nil %}
          <amp-img width="280px" height="200px" src="{{post.image}}"></amp-img>
          {% else %}
          {{ post.noimage }}
          {% endif %}
        </div>

        <div class="project-description-container">
        <div class="project-description">
        <a href="{{post.url}}"><button class="btn btn-blue project-button-pos">read more</button></a>
        {{post.description}}</div>
        </div>
      </div>{% endif %}{% endfor %}
    <hr />
    
    <h2>Personal projects</h2>
    {% for post in site.posts %}
    {% if post.type == "personal" %}
      <div class="project">
        <div class="project-header">
          <div class="project-title"> {{post.title}} </div>
        </div>
        
        <div class="project-image">
          {% if post.image != nil %}
          <amp-img width="280px" height="200px" src="{{post.image}}"></amp-img>
          {% else %}
          {{ post.noimage }}
          {% endif %}
        </div>

        <div class="project-description-container">
        <div class="project-description">
        <a href="{{post.url}}"><button class="btn btn-blue project-button-pos">read more</button></a>
        {{post.description}}</div>
        </div>
      </div>{% endif %}{% endfor %}
    <hr />

    <!-- If you are here, you can look at some things I was thinking of doing then completely forgot about. -->
    <!--
    <h2>Waiting for more time</h2>
    {% for post in site.posts %}
    {% if post.type == "standby" %}
      <div class="project">
        <div class="project-header">
          <div class="project-title"> {{post.title}} </div>
        </div>
        
        <div class="project-image">
          {% if post.image != nil %}
          <amp-img width="280px" height="200px" src="{{post.image}}"></amp-img>
          {% else %}
          {{ post.noimage }}
          {% endif %}
        </div>

        <div class="project-description-container">
        <div class="project-description">
        <a href="{{post.url}}"><button class="btn btn-blue project-button-pos">read more</button></a>
        {{post.description}}</div>
        </div>
      </div>{% endif %}{% endfor %}
      -->
  </div>
  </center>
</main>
