body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#cvmain {
    width: 860px;
}

#cvmain #qrimagelive {
    background-repeat: no-repeat;
    background-size: 90px 90px;
    background-position: center;
    float: right;
    margin-right: 10px;
    padding: 4px;
}

#cvmain #picholder {
    float: right;
    margin-top: 25px
}

#cvmain #photo {
    float: right
}

#cvmain #photo img {
    background-color: #fff;
    padding: 4px
}

#cvmain {
    width: 860px;
    height: auto;
    padding: 35px;
    background: #fff;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 18px;
    line-height: 25px
}

#cvmain .clearfix {
    clear: both;
    display: block
}

#cvmain .basicinfo {
    float: left;
    width: 45%
}

#cvmain h1,#cvmain h2,#cvmain h3,#cvmain h4,#cvmain li,#cvmain p,#cvmain ul {
    margin: 0
}

#cvmain h1 {
    font-size: 250%;
    letter-spacing: 0;
    margin-bottom: 15px
}

#cvmain h2 {
    font-size: 160%;
    letter-spacing: 0
}

#cvmain h2.name,#cvmain h3.title {
    float: left
}

#cvmain h3 {
    font-size: 130%
}

#cvmain h4 {
    font-size: 110%;
    font-weight: 400
}

#cvmain ul {
    margin-left: 15px
}

#cvmain .date {
    float: right;
    background-color: #f5f5f5;
    padding: 0 10px 0 13px;
    font-size: 16px;
    line-height: 30px
}

#cvmain h1,#cvmain h2,#cvmain h4.cname {
    color: #3e8dc6
}

#cvmain .item {
    margin-bottom: 10px
}


#cvmain .person_info {
    height: auto;
    margin-bottom: 20px;
    margin-top: 8px;
    float: left;
    border-left: 5px solid #3e8dc6;
}

#cvmain .person_left {
    width: 30%;
    min-width: 50px;
    text-align: right;
    padding-left: 20px;
    height: auto;
    font-weight: 700
}

#cvmain .person_right {
   text-align: left;
}

#cvmain .experience {
    margin-top: 15px;
    margin-bottom: 15px;
}


#cvmain .section {
    height: auto;
    display: block;
    overflow: hidden
}

#cvmain .section .section_header {
    height: 40px;
    float: left
}

#cvmain .section .section_content {
    height: auto;
    padding: 15px 0;
    overflow: hidden;
    background: #fff;
    text-align: justify;
}

#cvmain .section .section_title {
    text-transform: uppercase;
    font-weight: 400;
    background: #3e8dc6;
    color: #3e8dc6;
    height: 6px;
    margin-bottom: 6px;
    line-height: 1.4;
    font-size: 20px
}

#cvmain .section .section_title span {
    font-size: inherit;
    color: inherit;
    display: inline-block;
    padding-right: 1.25em;
    background: #fff;
    font-weight: 700;
    position: relative;
    top: -5px
}

#cvmain .section .section_title_right {
    width: 648px;
    height: 40px;
    border-bottom: 1px solid;
    float: right
}

#cvmain .section {
    height: auto;
    margin-bottom: 10px
}


@media screen and (max-width: 915px) {
    #cvmain {
        width: 95%;
    }

    #cvmain {
        margin: 10px;
        padding: 0;
    }

    #cvmain .basicinfo {
        float: left;
        width: 100%;
    }

    #cvmain #qrimagelive {
        float: none;
        margin: 10px;
        padding: 4px;
        display: inline;
    }

    #cvmain #photo {
        float: none;
        display: inline;
    }

    #cvmain #picholder {
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
    }

    #cvmain .date {
        float: left;
        display: block;
        background-color: #f5f5f5;
        padding: 0 10px 0 13px;
        font-size: 16px;
        line-height: 30px
    }
}